<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Sample Code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
</head>
<body>
    <h3>AngularJS Code Sample 01</h3>
     
    <div ng-app="mainApp1" ng-controller="myController">        
        Name: <input type="text" name="" id="" ng-model="myname" > <br>
        Location: <input type="text" name="" id="" ng-model="location" > <br>
        <button ng-click="updateMe()">Click</button>
        <br>
        {{ myname }} is at {{location}} <br>
        Friends: {{ friends}}
        Add Friend: <input type="text" name="" id="" ng-model="addMe"> 
        <button ng-click="addFriend()">Add</button>
        <ul>
            <li ng-repeat="f in friends" >
                {{ $index+1 }}. {{f  | uppercase }} 
                <button ng-click="editMe($index)">Edit</button>
                <button ng-click="angryMe($index)">Delete</button>
            </li>
           
        </ul>

    </div>

    
    
    <div id='two'>
        Another {{myname}}
    </div>
   
        <script src="angularcode.js"></script>
</body>
</html>