<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">

    <title></title>

    <script src="angular.js"></script>

    <style>

        .completed-true {

            text-decoration: line-through;

            color: grey;

        }

    </style>

   

</head>

<body>

    <form id="form1" runat="server">

        <div ng-app="todo">

            <h2>To Do List</h2>

            <div ng-controller="x">

                <span>{{pending()}} of {{schedule.length}} pending</span>

                <ul>

                    <li ng-repeat="todo in schedule">

                        <input type="checkbox" ng-model="todo.completed">

                        <span class="completed-{{todo.completed}}">{{todo.work}}</span>

                    </li>

                </ul>

                <input type="text" ng-model="todoWork" size="30" placeholder="add new work here">

                <input class="btn-primary" type="button" ng-click="addNew()" value="add">

            </div>

        </div>

    </form>

    <script>
        var app = angular.module('todo', []);
        app.controller('x', functionx )

        function functionx($scope) {

            $scope.schedule = [

              { work: 'Wash the Car', completed: true },

              { work: 'Meet Ajay', completed: false }];

 

            $scope.addNew = function () {

                $scope.schedule.push({ work: $scope.todoWork, completed: false });

                $scope.todoWork = '';

            };

 

            $scope.pending = function () {

                var count = 0;

                angular.forEach($scope.schedule, function (todo) {

                    count += todo.completed ? 0 : 1;

                });

                return count;

            };

        }

    </script>

</body>

</html>