<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"> </script>
</head>
<body ng-app="sad" ng-controller="happy">
    Numbers: 
    <input type="number" name="" ng-model="number1"> 
    + 
    <input type="number" name="" ng-model="number2"> <br>
    <input type="button" value="Add" ng-click="addNumberForm()">
    <input type="button" value="Multiply" ng-click="multiplyNumberForm()">
    <input type="button" value="Remote Data" ng-click="getRemoteData()"><br>
    
    Addition: {{ totalAdd }}<br>
        Multiplication {{ totalMultiply}}
        <hr>
    Remote:
    <input type="text" name="" ng-model="search" placeholder="search..."> <br>
        <ul>
            <li ng-repeat="d in remoteData | filter:search">{{d.id}}, {{d.name }}</li>
        </ul>
    <script src="angular_service_factory.js"></script>
</body>
</html>